.fmg-card {
    position: relative !important;
    margin-bottom: 0 !important;
}

.fmg-image-preloader {
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fmg-image-preloader > img {
    width: 90px;
    padding: 5px;
    display: inline;
    border-radius: 10px;
}

.fmg-image-preloader > i {
    position: absolute;
    color:#575757;
    font-size: 25px;
}

.fmg-setting-button {
    position: absolute;
    top: 15px !important;
    right: 20px !important;
    left: unset !important;
    padding: 0 0 0 40px !important;
}

.fmg-back-button {
    position: absolute;
    top: 15px !important;
    left: 20px !important;
    cursor: pointer;
    color: #999;
    transition: all 0.5s;
}

.fmg-tree-button {
    position: absolute;
    top: 15px !important;
    right: 20px !important;
    font-size: 20px;
    cursor: pointer;
    color: #999;
    transition: all 0.5s;
}

.fmg-upload-clear-button {
    position: absolute;
    top: 15px !important;
    right: 50px !important;
    cursor: pointer;
    color: #999;
    transition: all 0.5s;
}

.fmg-close-button {
    position: absolute;
    top: 15px !important;
    left: 20px !important;
    cursor: pointer;
    color: #999;
    transition: all 0.5s;
}

.fmg-upload-open-button {
    position: absolute;
    top: 15px !important;
    right: 20px !important;
    cursor: pointer;
    color: #999;
    transition: all 0.5s;
}

a[class$="-button"]:hover {
    color: #000;
}

.fmg-content-body {
    position: relative !important;
}

.fmg-new-folder-box {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    display: none;
}

.fmg-delete-box {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    display: none;
}

.fmg-upload-box {
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.fmg-upload-box > .body {
    height: 100% !important;
}

.fmg-upload-box .clearfix {
    height: 100%;
}

.fmg-upload-area {
    border: unset !important;
    position: relative !important;
    box-sizing: border-box !important;
    background: white !important;
    padding: 20px 20px !important;
}

.fmg-upload-area-first-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.fmg-upload-area-first-message > i {
    font-size: 50px !important;
}

.fmg-upload-form {
    display: none;
}

.fmg-upload-area-preview {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0.5em;
    direction: ltr;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

.fmg-upload-area-details {
    font-size: 13px;
    min-width: 100%;
    max-width: 100%;
    padding: 15px;
}

.fmg-upload-area-filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    display: inline-block;
}

.fmg-upload-area-size {
    font-size: 11px;
    margin-top: 5px;
    display: inline-block;
}

.fmg-upload-area-percentage {
    font-size: 11px;
    margin-top: 5px;
    display: inline-block;
}

.fmg-upload-area-message {
    display: inline-block;
    float: right;
    font-size: 12px;
}

.fmg-upload-area-message-text {
    text-align: center;
}

.fmg-upload-area-message-icon {
    font-size:45px !important;
}

.fmg-upload-area-error-message {
    display: inline-block;
}

.fmg-upload-area-progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
    direction: ltr;
}

.fmg-upload-area-progress .fmg-upload-area-determinate {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: width .3s linear;
}

.fmg-upload-area-progress .fmg-upload-area-indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.fmg-upload-area-progress .fmg-upload-area-indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

.fmg-box-header {
    color: #555;
    font-size: 1000px;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    height: 25px;
}

.fmg-inner-card {
    border-radius:unset !important;
}

div.mdl-layout__drawer > nav.mdl-navigation > a.mdl-navigation__link {
    display: inline-flex;
    vertical-align: middle;
}

.fmg-tree {
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 15px;
    margin-top: 0;
}

.fmg-empty-folder {
    text-align: center;
    color: #c0c0c0;
    direction: rtl;
}

.fmg-empty-folder i {
    font-size: 120px;
}

.fmg-empty-folder p {
    font-size: 24px;
}

.fmg-box-grid {
    height: 100%;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    cursor: unset !important;
    border-radius: 5px;
    float: left;
}

.fmg-box-grid > i {
    font-size: 70px;
    padding: 5px;
}

.fmg-box-grid > .fmg-grid-title {
    padding: 5px;
    width: 100%;
    height: 100%;
    font-size: 11px;
    display: block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fmg-box-grid > img {
    width: 82px;
    padding: 5px;
}

.fmg-box-list {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    cursor: unset !important;
}

[class^="fmg-box-"]:hover {
    background-color: rgba(130, 130, 130, 0.2);
}

.fmg-active-box {
    background-color: rgba(130, 130, 130, 0.5);
}

.fmg-list-title i {
    font-size: 20px;
    vertical-align: middle;
}

.fmg-pointer {
    cursor: pointer;
}

.fmg-padding-none {
    padding: 0 !important;
}

.fmg-border-top-none {
    border-top: none !important;
}

.fmg-border-bottom-none {
    border-bottom: none !important;
}

.fmg-context-menu {
    position: absolute;
    display: none;
    z-index: 15!important;
}

.fmg-context-menu ul {
    display: block;
    position: static;
    margin-bottom: 5px;
}

.fmg-list-icon {
    width: 50px;
    position: relative;
    display: inline-block;
    font-family: ShareTech;
    font-size: 13px !important;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}

.fmg-transparent-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fmg-overlay {
    position: absolute;
    background-color: rgba(2, 2, 2, 0.55);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fmg-font-extension {
    position: absolute;
    left: 0;
    top: 44px;
    width: 100%;
    font-style: normal;
    font-family: ShareTech;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.fmg-body {
    padding-bottom: unset !important;
    padding-top: unset !important;
}

.fmg-content {
    margin-bottom: unset !important;
    transition: 0.5s;
}

.fmg-ltr-dir {
    direction: ltr !important;
}

.fmg-rtl-dir {
    direction: rtl !important;
}

.fmg-text-align-left {
    text-align: left !important;
}

.fmg-text-align-rigth {
    text-align: right !important;
}

.fmg-text-align-center {
    text-align: center !important;
}

.fmg-clickable {
    cursor: pointer;
}

.fmg-text-with-icon > i {
    position: relative;
    top: 7px;
    left: 5px;
}

.fmg-preview-image-box {
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.fmg-preview-image {
    max-width: 100%;
    max-height: 100%;
}

.fmg-optimize-preview {
    position: relative;
}

.fmg-optimize-preview a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0.5);
    padding: 7px;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    text-decoration: none;
}

.fmg-optimize-preview a:hover {
    text-decoration: none;
}

.fmg-optimize-preview img {
    max-height: 350px;
    width: 100%;
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

@media (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 1200px) {

}