.login-body{
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-reload-captcha {
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    left: 10px;
    top: 0;
}

.ao-profile-avatar-container img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px auto;
}

.ao-profile-avatar-container button {
    display: block;
    margin: 10px auto;
}

.ao-btn {
    float: left !important;
}

.ao-modal-xl {
    width: 80% !important;
}

#nprogress .spinner {
    top: 25px !important;
    right: 15px !important;
}